@font-face {
	font-family: "Segoe UI";
	src: url("../res/fonts/SegoeUI-Regular.woff2") format("woff2"), url("../res/fonts/SegoeUI-Regular.woff") format("woff");
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: "Segoe UI";
	src: url("../res/fonts/SegoeUI-Bold.woff2") format("woff2"), url("../res/fonts/SegoeUI-Bold.woff") format("woff");
	font-weight: 700;
	font-style: normal;
}

@font-face {
	font-family: "Segoe UI";
	src: url("../res/fonts/SegoeUI-SemiBold.woff2") format("woff2"), url("../res/fonts/SegoeUI-SemiBold.woff") format("woff");
	font-weight: 600;
	font-style: normal;
}