#cart .widgets .delivery_content {
	margin-bottom: 7px;
}

#cart .widgets .delivery_item {
	display: flex;
}

#cart .widgets .delivery_item_title {
	font-size: 16px;
	font-weight: 600;
	line-height: 24px;
	width: 185px;
}

#cart .widgets .delivery_item_content {
	margin-bottom: 16px;
}

#cart .widgets .delivery_item_text {
	font-size: 16px;
	line-height: 24px;
}

#cart .widgets .delivery_item_subcontent {
	display: flex;
	margin-top: 4px;
	line-height: 16px;
}

#cart .widgets .delivery_item_rating,
#cart .widgets .delivery_item_schedule {
	font-size: 13px;
	line-height: 14px;
}

#cart .widgets .delivery_item_rating {
	margin-right: 8px;
}

#cart .widgets .delivery_item_rating__star {
	width: 12px;
	height: 12px;
	color: #ff970d;
	margin-right: 4px;
	margin-bottom: 4px;
}

#cart .widgets .delivery_item_rating__star img {
	display: block;
}

#cart .widgets .delivery_item_units {
	display: flex;
}

#cart .widgets .delivery_item_unit {
	position: relative;
	margin-right: 8px;
}

#cart .widgets .delivery_item_unit_cover {
	position: relative;
}

#cart .widgets .delivery_item_unit_cover img {
	display: block;
	width: 40px;
	height: 56px;
	border-radius: 8px;
}

#cart .widgets .delivery_item_unit_count {
	position: absolute;
	top: -9px;
	right: -5px;
	font-size: 10px;
	line-height: 16px;
	color: white;
	font-weight: 600;
	background-color: var(--info-color);
	border-radius: 16px;
	padding: 0px 5px 0 6px;
}

#cart .widgets .delivery_info {
	display: flex;
	align-items: center;
}

#cart .widgets .delivery_info_icon {
	flex: none;
	width: 22px;
	height: 22px;
	margin-right: 8px;
	font-size: 22px;
	color: #0CD38B;
}

#cart .widgets .delivery_info_title {
	font-size: 13px;
	line-height: 17px;
}

#cart .widgets .delivery_info_title__free {
	color: #0CB477;
	border-bottom: 1px dashed #0CB477;
	padding-left: 2px;
	cursor: pointer;
}

#cart .widgets .delivery_info__popup {
	width: 256px;
}